<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!---->
<mapper namespace="com.zhong.kangan.mapper.CheckGroupMapper">
    <select id="findAllCheckGroupByPages" parameterType="string" resultType="com.zhong.kangan.common.pojo.CheckGroup">
        select * from t_checkgroup
        <if test="value !=null and value != ''">
            where code like '%${value}%' or name like '%${value}%' or helpCode like '%${value}%'
        </if>
    </select>


    <delete id="delete" parameterType="int">
        delete from t_checkgroup_checkitem where checkgroup_id = #{id};
        delete from t_checkgroup where id = #{id}
    </delete>

    <insert id="addCheckGroup" parameterType="CheckGroup">
        insert into t_checkgroup(code, name, helpCode, sex, remark, attention)
        values (#{code},#{name},#{helpCode},#{sex},#{remark},#{attention})
        <selectKey resultType="int" keyColumn="id" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="addCheckGroupCheckItem">
        insert into t_checkgroup_checkitem values
        <foreach collection="param2" item="item" separator=",">
            (#{param1},#{item})
        </foreach>
    </insert>

    <select id="findCheckGroupById" parameterType="int" resultType="CheckGroup">
        select *
        from t_checkgroup
        where id = #{id}
    </select>

    <select id="findCheckGroupCheckItemById" parameterType="int" resultType="int">
        select checkitem_id
        from t_checkgroup_checkitem
        where checkgroup_id = #{id}
    </select>

    <update id="editCheckGroup" parameterType="CheckGroup">
        update t_checkgroup
        set code=#{code},
            name=#{name},
            helpCode=#{helpCode},
            sex=#{sex},
            remark=#{remark},
            attention=#{attention}
        where id = #{id}
    </update>

    <delete id="deleteCheckGroupCheckItem" parameterType="int">
        delete
        from t_checkgroup_checkitem
        where checkgroup_id = #{id}
    </delete>

</mapper>